.app-container {
    background-color: rgba(165, 176, 212, 0.2) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    flex-grow: 1;
}

.btn-primary {
    background-color: rgba(26, 86, 177);
    border: none;
}

.row>* {
    padding: 0 !important;
}